.page5-2{
	.parking{
		.h4{
			margin: 5px 0px 20px 20px;
		}
		figure{
			padding: 0px;
			margin: 0px;
			display: block;
			overflow: hidden ;
			height: 220px; 
			img{
				display: block;
				width: 100%;
				margin: 0 auto;  
			} 
		}
	}
	.parking-info__table{
		th, td {

			ul{
				-webkit-padding-start: 15px;
				-webkit-margin-before: 1px;
				-webkit-margin-after: 1px;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
				font-size: 10px;
			}
			 &:first-child{
	        	font-size: $font-size-base;
	            padding: 20px 0px 10px 20px;
	            width: 30%; 
	        }
	        &:last-child{
	            width: 70%;
	        }
    	}
	}
	.accordian-title{
		.h5{
			font-weight: bold;
		}
	}
}

.page5-4{
	section{
		padding: 15px 10px;
		border-bottom: 2px solid $gray-lighter; 
		.bottom-wraper{
			 width: 90%;
		}
	}
}

.page5-5{
	section{
		border-bottom: 2px solid $gray-lighter; 
	}	
	.panel{
		padding: 0px;
		margin-top: 20px;  
		.panel-title{
			display: flex;
			padding-bottom: 15px;
			@extend .h5;
			margin: 0px;
			border-bottom:1px solid lighten($gray-base, 50%);  
			.text-left{
				-webkit-flex: 2; 
				-ms-flex: 2; 
				flex: 2; 
			}
			.text-right{
				font-weight: bold; 
				-webkit-flex: 1; 
				-ms-flex: 1; 
				flex: 1; 
			}
		}
		.panel-body{
			display: flex;
			padding: 0px; 
			.name{
				width: 100px;
				span{
					margin-top: 18px;
				    display: inline-block;
				}
			}
			.table{
				width: calc(100% - 100px);
				td{
					font-size: $font-size-small;  
					font-weight: bold; 
				}
			}		
		}
	}
}