.info_list{
	list-style: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start:0; 
	li{
		padding: 15px 20px;
		border-bottom: 2px solid $gray-lighter;  
	} 
}