/* page 6 info list */
.info_list{
	list-style: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start:0; 
	li{
		padding: 16px 20px;
		border-bottom: 2px solid $gray-lighter;  
	} 
}

/* page 7 popup */

/* page 8 */

.page8{
	.panel{

		.panel-title{
			padding: 10px 20px;
			display: table;
			@include box-sizing();
			width: 100%; 
			span{
				display: table-cell;
				width: auto; 
				&:last-child{
					margin-right: 0px; 
				}  
			}
		}
		.panel-body{
			padding: 20px 20px;
			display: flex;
			.icons{
				.logo-btn {
    				margin: 0 auto;
    				display: block;
				}	
			}
			.caption {
			    font-size: 12px;
			    display: block;
			    overflow: hidden;
			    margin-top: 5px;
			    text-align: center;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
			>*{
				-webkit-flex: 1; 
				-ms-flex: 1; 
				flex: 1; 
			    text-align: center;
			    &:first-child{
			    	text-align: left;
			    	margin-top:15px;
			    	@extend .h4;
			    }
			    &:last-child{
			    	text-align: right;
			    	margin-top:15px;
			    	@extend .h4;
			    }
			} 
		}
	}
}
