/* page 4 ~ */

.contact {
    padding: 25px;
    height: 50vh;
    width: 1%;
    display: table-cell;
    vertical-align: middle;
    @include box-sizing;
}

.bottom-wraper {
    display: block;
    @include clearfix();
    width: 80%;
    text-align: center;
    margin: 0 auto;
    .btn {}
}

.page4-3 {
    .contact {}
}

.page4-2 {
    .card {
        margin: 50px 0px;
        .accordian {
            color: $gray-base;
            font-size: $font-size-base;
            padding: 0px;
            border: none;
            .accordian-title {
                padding: 15px 20px;
                border-bottom: 2px solid $gray-lighter;
            }
            .accordian-body {
                padding: 15px 20px 5px;
            }
        }
    }
}

.page4-4 {
    .contact {
        padding: 30px 25px;
        height: auto;
    }
    .accordian {
        color: $gray-base;
        font-size: $font-size-base;
    }
}

.page4-5 {
    .contact {
        height: 70vh;
    }
}

.page4-6 {
    @extend .page4-2;
    .card {
        height: 45vh;
        display: table-cell;
        width: 1%;
        vertical-align: middle;
    }
}
