.panel{
	padding: 15px;
	@include clearfix();
	font-size: $font-size-large;  
	.panel-title{
		border-bottom: 2px solid $gray-lighter; 
		padding-bottom: 5px;  
	}
	.panel-body{
		font-size: $font-size-base;
		padding: 15px 0px;
		display: block;
		 		
	}
}
.panel--light{
	color: $gray-light; 
}