.table{
    border-collapse: collapse ;
    width: 100%;
    th, td {
        text-align: left;
        padding: 20px 10px 10px 10px;
    }
    
    tr{
        border-bottom: 2px solid $gray-lighter;  
        &:nth-child(even){}
    }
}